*{
    margin: 0%;
    box-sizing: border-box;
}

body{
    position: absolute;
    width: 100%;
    font-family: sans-serif, Arial, Helvetica;
    background: #262626;
    /*background-color: #262626;*/
    margin: 0%;
    padding: 0%;
}
  
._header {
    background-color: #009D71;
    height: 100px;
    position: relative;
    width: 100%;
    left: 0;
    margin-bottom: 20px;
}
  
._nav{
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    margin: 0;
}
  
._nav-link {
    color: #262626;
    text-decoration: none;
}
  
.logo{
    font-size: 40px;
    line-height: 100px;
    width: 40%;
    text-align: center;
}

.logo:hover{
    color: #262626;
}
  
._nav-menu {
    display: flex;
    list-style: none;
    width: 60%;
}
  
._nav-menu-item {
    font-size: 15px;
    margin: 0 1%;
    line-height: 100px;
    /*width: max-content;*/
}
  
._nav-menu-link {
    padding: 8px 12px;
    border-radius: 3px;
}

._nav-menu-link_active {
    padding: 10px 20px;
    background-color: #262626;
    color: #00d498;
}

._nav-menu-link:hover{
    transition: 0.3s;
    color: #00d498;
    cursor: pointer;
}

._nav-menu-link_active:hover{
    box-shadow: 0px 5px 10px 2px #00d498;
}

  
/* TOGGLE */
._nav-toggle {
    color: #262626;
    background: none;
    border: none;
    font-size: 30px;
    line-height: 60px;
    cursor: pointer;
    display: none;
    padding-right: 15px;
}


/* MOBILE */
@media only screen and (max-width: 800px){
    body {
        padding:0;
    }
  
    ._header {
        height: 60px;
    }
  
    .logo {
        font-size: 25px;
        padding: 0 20px;
        line-height: 60px;
    }
  
    ._nav-menu {
        flex-direction: column;
        align-items: center;
        margin: 0;
        background-color: #262626;
        position: fixed;
        width: 100%;
        top: 60px;
        padding: 0 20px;
        height: calc(100% - 60px);
        left: 100%;
        transition: left 0.3s;
    }
  
    ._nav-menu-item {
        line-height: 70px;
        text-align: center;
        width: 100vh;

    }

    ._nav-menu-link_active{
        background: none;
    }
    ._nav-menu-link{
        color: #00d498;
        padding: 20px 30%;
        font-size: 17px;
        transition: color 0.3s;
    }
  

    ._nav-menu-link:hover{
        padding: 20px 25%;
        background: #009D71;
        color: #262626;
    }


    ._nav-menu-link_active:hover{
        box-shadow: 0px 0px 0px 0px #262626;
    }


    ._nav-toggle {
        display: block;
    }

    .no_scroll{
        overflow: hidden;
    }

    .contain-carousel, ._contain-articles{
        right: 0;
        transition: right 0.3s;
    }

    .carousel_visible{
        right: 100%;
    }
    
    ._nav-menu_visible {
        left: 0;
    }
  
    ._nav-toggle:focus:not(:focus-visible) {
        outline: none;
    }
}

.contain-carousel{
    position: relative;
    width: 100%;
    height: auto;
    display: inline-flex;
    flex-wrap: wrap;
    color: #009D71;
}

.perfil-img{
    width: 30%;
}

.perfil{
    object-fit: contain;
    display: block;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.inf-contacto{
    padding-left: 20%;
    margin-top: 15px;
}

.perfil-info{
    width: 70%;
}

.info{
    text-align: center;
    margin-bottom: 10px;
}

@media (max-width: 700px) {
    .perfil-img{
        width: 100%;
    }
    .perfil-info{
        width: 100%;
        margin-top: 30px;
    }
    .inf-contacto{
        padding-left: 0;
        text-align: center;
    }
    ._separador{
        margin-top: 30px;
        width: 100%;
        height: 2px;
        background-color: #009D71;
    }
}

._contain-articles{
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    /*color: #009D71;*/
    color: #009D71;
    width: 100%;
    margin-bottom: 100px;
}

._contain-articles-title{
    text-align: center;
}

._contain_articles-form{
    width: 80%;
    /*border: solid 2px #009D71;*/
    margin-bottom: 5px;
    background-color: #525252;
    /*background-color: #363636;*/
}

._contain_articles-form:hover{
    /*box-shadow: 0px 5px 10px 2px #00d498;*/
    transform: scale(1.025);
    box-shadow: 0px 2px 1px 0px #009D71;
    cursor: pointer;
    margin-bottom: 10px;
    margin-top: 4px;
}

._img_article{
    width: 40%;
    height: 300px;
}

.form{
    width: 100%;
}
._articulo{
    width:100%;
    height:100%;
    object-fit: cover;
    padding: 15px;
}

._article{
    width: 100%;
    display: inline-flex; 
    align-items: center;
    justify-content: baseline;
}

._dato_article{
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 300px;
    font-size: 20px;
    padding-top: 20px;
    padding-left: 5%;
    /*background-color:aliceblue;*/
}

._info{
    margin: 5px 0;
}

._info:hover{
    cursor: pointer;
}

.input_article{
    width: 50%;
    background-color: #262626;
    color: #00d498;
    margin: auto;
    border: none;
    border-radius: 3px;
    padding-top: 10px;
    padding-bottom: 10px;
}


@media (max-width: 800px) {
    ._article{
        flex-direction: column;
    }
    ._dato_article{
        width: 100%;
        font-size: 20px;
        margin-bottom: 20px;
    }
    ._img_article{
        width: 100%;
        height: 300px;
    }
    ._contain_articles-form:hover{
        /*box-shadow: 0px 5px 10px 2px #00d498;*/
        width: 82%;
        height: 625px;
        box-shadow: 0px 2px 1px 0px #009D71;
        cursor: pointer;
    }
}
